@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
  --ionian: #f94144;
  --dorian: #fe5d26;
  --phrygian: #ffd801;
  --lydian: #43aa8b;
  --mixolydian: #2d7dd2;
  --aeolian: #3f37c9;
  --locrian: #7251b5;
}

body {
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f8f9fa;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}


.max-content {
  width: max-content;
}

.legends-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}

.legends-items {
  padding: 8px;
  margin: 4px 4px;
  border-radius: 2px;
  cursor: pointer;
}

.legends-items:hover {
  transition: ease 0.25s;
  box-shadow: 0 0 1px 2px #007bff;
}

.highlighted {
  box-shadow: 0 0 2px 1px #007bff;
  transition: ease 0.25s;
}

table {
  table-layout: fixed;
  width: 95%;
  max-width: 515px;
  margin-bottom: 1em;
}

td {
  text-align: center;
  width: (100%/7);
}
