.ionian {
  color: var(--ionian);
}

.dorian {
  color: var(--dorian);
}

.phrygian {
  color: var(--phrygian);
}

.lydian {
  color: var(--lydian);
}

.mixolydian {
  color: var(--mixolydian);
}

.aeolian {
  color: var(--aeolian);
}

.locrian {
  color: var(--locrian);
}

.white {
  color: var(--white);
}

.bg-ionian {
  background-color: var(--ionian);
}

.bg-dorian {
  background-color: var(--dorian);
}

.bg-phrygian {
  background-color: var(--phrygian);
  color: var(--black);
}

.bg-lydian {
  background-color: var(--lydian);
}

.bg-mixolydian {
  background-color: var(--mixolydian);
}

.bg-aeolian {
  background-color: var(--aeolian);
}

.bg-locrian {
  background-color: var(--locrian);
}

.bg-disabled {
  background-color: var(--disabled);
  color: var(--white);
}

.legends-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

.legends-items {
  padding: 8px;
  margin: 4px 4px;
  border-radius: 2px;
  transition: background-color 2s;
}

.legends-items:hover {
  box-shadow: 0 0 1px 2px var(--primary);
  transition: box-shadow 0.1s ease;
}

table {
  table-layout: fixed;
  width: 95%;
  max-width: 515px;
}

td {
  text-align: center;
  width: (100%/7);
}

.mode-select {
  display: flex;
  margin-bottom: 1em;
}

.mode-select > div {
  margin: 0em 1em;
}

.key-select {
  text-align: center;
}

.roman-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes slide-in {
  from {
    transform: translate(-50%, 50%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes slide-out {
  from {
    transform: translate(-50%, -50%);
  }
  to {
    transform: translate(-50%, 50%);
  }
}

.roman-appear {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  animation: slide-in 0.25s ease;
  animation-fill-mode: forwards;
  background-color: var(--light-gray);
}

.roman-disappear {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  animation: slide-out 0.25s ease;
  animation-fill-mode: forwards;
  background-color: var(--light-gray);
}

.chord-container,
.roman-appear,
.roman-disappear {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.chord-container span {
  height: max-content;
}

.pointer {
  cursor: pointer;
}

.playable-chord:active {
  background-color: var(--primary);
  color: white;
  transition: 0.1s ease;
}

td {
  height: 48px;
}

table,
td {
  border: 1px solid var(--black);
  border-collapse: collapse;
}
