.ionian {
  color: var(--ionian);
}

.dorian {
  color: var(--dorian);
}

.phrygian {
  color: var(--phrygian);
}

.lydian {
  color: var(--lydian);
}

.mixolydian {
  color: var(--mixolydian);
}

.aeolian {
  color: var(--aeolian);
}

.locrian {
  color: var(--locrian);
}

.white {
  color: #fff;
}

.bg-ionian {
  background-color: var(--ionian);
}

.bg-dorian {
  background-color: var(--dorian);
}

.bg-phrygian {
  background-color: var(--phrygian);
  color: var(--black);
}

.bg-lydian {
  background-color: var(--lydian);
}

.bg-mixolydian {
  background-color: var(--mixolydian);
}

.bg-aeolian {
  background-color: var(--aeolian);
}

.bg-locrian {
  background-color: var(--locrian);
}

.legends-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}

.legends-items {
  padding: 8px;
  margin: 4px 4px;
  border-radius: 2px;
  cursor: pointer;
}

.legends-items:hover {
  transition: ease 0.25s;
  box-shadow: 0 0 1px 2px #007bff;
}

.highlighted {
  box-shadow: 0 0 2px 1px #007bff;
  transition: ease 0.25s;
}

table {
  table-layout: fixed;
  width: 95%;
  max-width: 515px;
  margin-bottom: 0.5em;
}

td {
  text-align: center;
  width: (100%/7);
}

.mode-select {
  text-align: center;
  margin-bottom: 2.5em;
}

.relative {
  position: relative;
  overflow: hidden;
}

@keyframes slide-in {
  from {
    transform: translate(-50%, 50%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

.roman-appear {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  animation: slide-in 0.25s ease;
  animation-fill-mode: forwards;
  background-color: #f8f9fa;
}
